@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}


.header {
    background-color: rgb(169, 129, 10);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 3rem;
    margin-top: 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 3px;
    width: 0;
    transform: translateX(-50%);
    background-color: #f0a500;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover:before {
    width: 100%;
}

form {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
}

.search-btn {
    display: flex;
    align-items: right;
}

.inputText {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 250px;
}

.inputText:focus {
    border-color: black;
}

button {
    padding: 10px 15px;
    background-color: #f0a500;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d18d00;
}

button i {
    font-size: 16px;
}


@media (max-width: 768px) {
    .header nav ul {
        flex-direction: column;
        align-items: center;
    }

    .header nav ul li {
        margin: 10px 0;
    }

    .inputText {
        width: 200px;
    }
}

.image-button {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    padding: 0;
}

.button-image {
    width: 20px; 
    height: 20px;
    display: block;
}

.search-btn{
    display: flex;
}

.inputText{
    outline: none;
    border: 1px solid #f0a500;
    border-radius: 2rem 0 0 2rem;
    padding: 0.3rem 1rem;
    font-size: 1 rem;
    color: black;
    background-color: #f0a500;
    box-shadow: inset 0 5px 10; 
}

.container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie{
    box-shadow:0 5px 10px black;
    width: 250px;
    background-color: #f0a500;
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.poster{
    width:100%;
    height:250px;
}

.movie-detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title{
    width: 160px;
    text-align: center;
}

.overview{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    background-color: #f0a500;
    opacity: 0.9;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    transform: translateY(80%);
}


.overview:hover{
    transform: translateY(0%);
}

.capa-filme{
    width: 300px; 
    height: 400px;
}

.rating{
    background-color: rgb(169, 129, 10);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid rgb(169, 129, 10);
    box-shadow: inset 0 5px 5px black;
    position: absolute;
    right: 5px;
    bottom: 5px;
}


@media (max-width:900px){
    .header{
        background-color: rgb(169, 129, 10);
        height: 180px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        padding-top: 10px;
        margin-right: 100px;
    }
}

